{% extends "proyectos/baseProy.html" %}
{% load static %}


{% block title %} Detalle {% endblock %}


{% block content %}
    <div class="fotos">
        {% for foto in fotos %}
        <div class="fotos_cont">
            <img class='fotos_cont_img inactive' src="{{foto.imagen.url}}" alt="La imágen no puede ser mostrada">
        </div>
        {% endfor %}
        <div class="boton avanzar">&#10095</div>
        <div class="boton retroceder">&#10094</div>
        
    </div>
    
    <script src="{% static 'js/proyectos/fotos.js' %}"></script>
{% endblock %}