{% extends "proyectos/baseProy.html" %}
{% load static %}


{% block title %} Detalle {% endblock %}


{% block content %}
<div class="fotos">
    <div class="recuadro">
        <div class="total_container" id="total_container">
            {% for foto in fotos %}
            <div class="individual_container">
                <img src="{{foto.imagen.url}}" alt="La imágen no puede ser mostrada">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="boton avanzar" id="next">&#10095;</div>
    <div class="boton retroceder" id="previous">&#10094;</div>
</div>

<script src="{% static 'js/proyectos/fotos.js' %}"></script>
{% endblock %}